<section class="index-page">
  <p class="success">
    You have been successfully logged in!
  </p>
  <img class="avatar"
    src="{{ avatar }}" >
  </div>
  <h3>Hello {{ name }} !!</h3>
  <a href='/auth/logout'>LogOut</a>
</section>